Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@hil-beer-t 
Rocketseat
/
semana-omnistack-9
18
208175
 Code
 Issues 0
 Pull requests 4 Actions
 Projects 0
 Wiki
 Security 0
 Insights
semana-omnistack-9/frontend/.gitignore
@diego3g diego3g App
ff11a3c on 2 Oct 2019
23 lines (18 sloc)  310 Bytes
  
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
